@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Roboto", "Noto Sans CJK KR", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}
